{
  "singleQuote": true
}
// <div class="top-footer pt-3 pb-2 pb-md-3 pt-md-4">
//       <div class="container">
//         <div class="row">
//           <div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 ">
//             <h4>Popular Flights</h4>
//             <div class="foo-navbar">
//               <ul class="list-unstyled footerul">
//                 <li>Delhi to Bangalore</li>
//               </ul>
//             </div>
//           </div>
//           <div class="col-lg-9  col-md-3 col-sm-6   col-xs-6">
//             <div class="col-lg-12 col-md-3 col-sm-6   col-xs-6">
//               <div class="foo-common">
//                 <h4>IMPORTANT LINKS</h4>
//                 <div class="foo-navbar">
//                   <ul class="list-unstyled footerul">
//                     <li>CANCELLATION POLICY</li>
//                   </ul>
//                 </div>
//               </div>
//             </div>
//             <div class="col-lg-12 col-md-3 col-sm-6   col-xs-6">
//               <div class="foo-common">
//                 <h4>IMPORTANT LINKS</h4>
//                 <div class="foo-navbar">
//                   <ul class="list-unstyled footerul">
//                     <li>CANCELLATION POLICY</li>
//                   </ul>
//                 </div>
//               </div>
//             </div>
//           </div>
//           <div class="col-lg-12 col-md-3 col-sm-6  col-xs-6">
//             <div class="foo-common">
//               <h4>Get In Touch </h4>
//             </div>
//           </div>
//         </div>
//       </div>
//     </div>